:root {
  --deepBackgroundColor: #f9dcc4;
  --backgroundColor: #f8edeb;
  --accent: #ffb5a7;
  --accentHover: #ffa08e;
  --contrast: #284b63;
}
* {
  box-sizing: border-box;
}

body {
  background-color: var(--deepBackgroundColor);
  margin: 0;
  padding: 40px;
}

main {
  background-color: var(--backgroundColor);
  margin: 0;
  padding: 20px 40px;
  border-radius: 50px;
}

h1 {
  font-family: "Sacramento", sans-serif;
  font-size: 10rem;
  color: var(--contrast);
}

h2 {
  font-family: "Sacramento", sans-serif;
  color: var(--contrast);
  font-size: 5rem;
}

h3 {
  font-family: "Gloria Hallelujah", sans-serif;
  color: var(--contrast);
  font-size: 1.8rem;
  -webkit-text-stroke: 1px var(--contrast);
  -moz-text-stroke: 1px var(--contrast);
}

h4 {
  font-family: "Gloria Hallelujah", sans-serif;
  color: var(--contrast);
  font-size: 1.5rem;
}

a {
  font-family: "Sacramento", sans-serif;
  background-color: var(--accentHover);
  padding: 10px 35px 10px 30px;
  border-radius: 50px;
  font-size: 2rem;
  text-decoration: none;
  color: var(--contrast);
  -webkit-text-stroke: 1px var(--contrast);
  -moz-text-stroke: 1px var(--contrast);
}
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

button {
  outline: none;
  border: none;
  border-radius: 20px 0 0 20px;
  padding: 40px 10px;
  font-size: 1.5rem;
  background-color: var(--accent);
  font-family: "Gloria Hallelujah", sans-serif;
  color: var(--contrast);
}
button:hover {
  background-color: var(--accentHover);
}

.activeButton {
  background-color: var(--accentHover);
}

.staticHeroContent {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

.showcase {
  display: flex;
  flex-direction: row;
}
.tabsContainer {
  display: flex;
  flex-direction: column;
}

.imageContainer {
  display: none;
  position: relative;
  width: 300px;
  height: 400px;
}

.imgWrap {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
}
.imgWrap img {
  display: block;
  height: 400px;
}

.imgSlider {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 40px;
  height: 40px;
  background-color: var(--accentHover);
  opacity: 0.7;
  border-radius: 50%;
}

#ICOne {
  display: block;
}

.imageContainer {
  width: 300px;
}

.cardHolder {
  display: flex;
  flex-direction: row;
}

.card {
  background-color: var(--accent);
  padding: 10px 20px;
  border-radius: 20px;
  margin: 0px 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.card:first-child {
  margin-left: 0;
}
.card:last-child {
  margin-right: 0;
}

.card img {
  height: 37%;
}

.faq {
  display: flex;
  flex-direction: column;
}

.faq > :last-child {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
